.edit_exercise {
    position: relative;
    top: 3em;
    min-height: 100vh;
}


.form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
                    "ten ten ten ten"
                    "one one one one"
                    "two two two two"
                    "three three three three"
                    "four four four four"
                    "five five six six"
                    "seven seven eight eight"
                    "nine nine nine nine";
    background-color: var(--prime-2);
    max-width: 45vw;
    gap: 0.4em;
    margin: auto auto;
    overflow: hidden;
    border: 1px solid var(--acc-1);
    border-radius: var(--b-radius);
}
.form_field {
    display: grid;
    padding: 0.6em;
    margin: 0.6em;
    border: 1px solid var(--acc-1);
    border-radius: var(--b-radius);
}
.form > * {
    padding: 0.4em;
}




.form button {
    margin-top: 1.4em;
    display: grid;
}


.form_field_1 { grid-area: one;}
.form_field_2 { grid-area: two;}
.form_field_3 { grid-area: three;}
.form_field_4 { grid-area: four;}
.form_field_5 { grid-area: five;}
.form_field_6 { grid-area: six;}
.form_field_7 { grid-area: seven;}
.form_field_8 { grid-area: eight;}
.form_field_9 { grid-area: nine;}
.form_field_10 { grid-area: ten;}
.form h1 {
    border-top: 1px solid var(--acc-1);
    border-bottom: 6px solid var(--acc-1);
    border-radius: var(--b-radius);
    font-size: 2rem;

    text-align: center;
    grid-area: ten;}