.dashweek {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas: 
        "one two three four five six seven";
    height: 100%;
}

.cell {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0.4em;

    background-color: var(--sec);
    border: 1px solid var(--acc-1);
    border-radius: var(--b-radius);

    font-weight: 500;
    letter-spacing: 1pt;
}

.cell_1 {
    grid-area: one;
}
.cell_2 {
    grid-area: two;
}
.cell_3 {
    grid-area: three;
}
.cell_4 {
    grid-area: four;
}
.cell_5 {
    grid-area: five;
}
.cell_6 {
    grid-area: six;
}
.cell_7 {
    grid-area: seven;
}

.week_day {
    background-color:  var(--acc-1);
    color: var(--sec-2);
    padding: .1em;
    margin: 0 0 .2em 0;
    font-weight: bold;
    font-size: 1.1rem;
    border: 1px solid var(--acc-1);
    border-radius: var(--b-radius);
    text-align: center;
    letter-spacing: 1pt;
}

.activity_ul {

}

.activity_li {
    list-style: none;
}

