
.header {
    position: fixed;
    z-index: 1;
    /* left: 20em; */
    width: 100vw;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--sec-2);
    border: 1px solid var(--);
    /* border-radius: var(--b-radius); */
}
.header > * {
    /* background-color: var(--prime); */
    color: var(--acc-3);
}

.logo {
    color: var(--text);
    margin-left: 2em;
}
.header h1 {
    padding: 0em 0.2em;
    color: var(--sec);
    background-color: var(--prime);
    font-size: 1.8rem;
    border-radius: var(--b-radius);
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 700;

}

.ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    margin-left: 8em;
    margin-right: auto;
    list-style: none;

    border-radius: var(--b-radius);
}

.li {
    padding: 0.2em 0.6em;
    /* color: var(--prime); */
}
li:hover {
    color: var(--acc-1);
}
.link {
    color: var(--text);
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    font-family: 'Montserrat Alternates', sans-serif;



}
.link:hover {
color: var(--accent);
}

.auth_icons {
    margin: 0px 2em;
    padding: 0.4em;
    border-radius: var(--b-radius);

}
.auth_icons * {
    color: var(--dark-blue);
    font-weight: bold;
    font-size: 1.4rem;
    margin: 0px 0.1em;
}
.auth_icons *:hover {
    color: var(--acc-1);
}

.menu_icon {
    margin-right: 2em;
    color: var(--text);
    padding: 0.4em;
    border-radius: var(--b-radius);
}
.menu_icon:hover {
    color: var(--accent);
}