
.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--sub);
    border: 1px solid var(--);
    border-radius: var(--b-radius);
}

.logo {
color: var(--text);
margin-left: 2em;
}
.header h1 {
    color: var(--text);
}

.ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    margin-left: 8em;
    margin-right: auto;
    list-style: none;
}

.li {
    padding: 0.2em 0.6em;
}
li:hover {
    /* background-color: var(--dark-blue); */
}
.link {
    color: var(--light-gray);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 0.1em;

}
.link:hover {
color: var(--kelly-green);
}

.auth_icons {
    margin: 0px 2em;
}
.auth_icons * {
    color: var(--dark-blue);
    font-weight: bold;
    font-size: 1.4rem;
    margin: 0px 0.1em;
}
.auth_icons *:hover {
    color: var(--light-gray);
}

.menu_icon {
    margin-right: 2em;
    color: var(--dark-blue);
}