
.cycle_card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "one one "
    "two three"
    "four five"
;
    gap: .2em;
    background-color: var(--acc-1);
    border: 4px solid var(--sec-2);
    border-radius: var(--b-radius);
    overflow: hidden;
    list-style: none;
    margin: .1em;
    padding: .1em;
    min-height: 12vh;
    min-width: 12vw;
}
.cycle_card:hover {
    scale: 1.02;
}

.cycle {
    display: flex;
    flex-direction: column;
    padding: 0.8em;
    background-color: var(--sec-2);
    border-radius: var(--b-radius);
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color: var(--text);
}

.cycle_1 {
    font-size: 1.2rem;
    background-color: var(--acc-1);
    border: 4px solid var(--sec-2);
    color: var(--sec-3);
    grid-area: one;}
.cycle_2 {
    font-size: 1.2rem;

    grid-area: two;}
.cycle_3 {
    font-size: 1.2rem;
    
    grid-area: three;}
.cycle_4 {
    color: var(--text-2);
    grid-area: four;}

.button {
    color: var(--acc-1);
    background-color: var(--sec-2);
}
.mmdd_box {
    text-transform: lowercase;
    font-size: .8rem;
    background-color: var(--sec-1);

}