.error {
    min-height: 100vh;
}

.info_box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 0.1em;

    
    max-width: 50vw;
    min-height: 50vh;
    margin: 6em auto;
    
    background-color: var(-);
    border: 0.2em solid var(--light-gray);
    border-radius: var(--b-radius);
    overflow: hidden;
}

.info_box > * {
    padding: 1em;
    border: 0.1em solid var(--light-gray);
    border-radius: var(--b-radius);
    overflow: hidden;
}

.err_h1 {
    font-size: 80px;
    padding: 0.3em;
    border: 0.04em solid var(--light-gray);
    border-radius: var(--b-radius);
    overflow: hidden;
}