.footer {
    position: relative;
    top: 3em;
    bottom: 0px;
    width: 100vw;
    min-height: 16vh;
    background-color: var(--sec);
}

.ul {
    
}

.li {
    
}

.a {
    
    /* color: var(--text); */
}