
.create_macro {
    min-height: 100vh;
}
.title {
    background-color: var(--sec-2);
}

.form {
    display: grid;

    grid-template-areas: 
    "one one four"
    "two three five";
    align-items: center;
    justify-content: stretch;
    gap: .4em;
    /* max-width: 60vw; */
    padding: 2em;
    max-width: 60vw;
    margin: 2em auto 0 auto;
    background-color: var(--dimmer);    
    border-radius: var(--b-radius);

}

.form_field {
    display: flex;
    flex-direction: column;
    border-radius: var(--b-radius);

    padding: .2em;
}

.name {
    padding: .6em;
}


.form_field_1 {
    grid-area: one;
}
.form_field_2 {
    grid-area: two;
}
.form_field_3 {
    grid-area: three;
}
.form_field_4 {
    grid-area: four;
    padding: .4em;
    background-color: var(--acc-1);
    font-size: 1.2rem;
    /* margin: .2em; */
}
.form_field_5 {
    grid-area: five;
    padding: .4em;
    background-color: var(--acc-1);
    font-size: 1.2rem;
    /* margin: .2em; */
}
/* .form_field_6 {
    margin-top: .6em;
    padding: .2em;
    border-radius: var(--b-radius);
    background-color: var(--acc-1);
} */