
.list_card {
    grid-area: one;
    padding: 0.6em;
    border: 1px solid var(--acc-1);
    border-radius: var(--b-radius);
    background-color: var(--sec);
    height: 100%;
    width: 100%;
    overflow: hidden;

}
.list_card p {
    font-weight: bold;
    color: #e52117b7;
}

.list_card ul {
    list-style: none;
    font-weight: 500;
    letter-spacing: 1pt;
    font-size: 1.1rem;
    padding: 0em 1em;
}