.banner {
    position: absolute;
    text-align: center;
    height: 106vh;
    width: 100vw;

    font-size: 1.4rem;
    font-family: 'Montserrat Alternates', sans-serif;
    border-radius: var(--b-radius);
    border-top: 16px solid var(--sec-2);
    border-bottom: 16px solid var(--sec-2);
    letter-spacing: 1pt;
    padding: 2em 5em;
    background-color: rgba(0, 0, 0, 0.818);
    overflow: scroll;
}

.title {
    font-size: 4rem;
    font-weight: bold;
    padding: .7em;
    border-radius: var(--b-radius);
    border-top: .1em solid var(--acc-1);
    border-bottom: .3em solid var(--acc-1);
    background-color: var(--sec-2);
}

.subtitle {
    padding: .5em;
    margin: .2em;
    font-size: 2rem;
    font-weight: 500;
}
.pdiv {
    padding: .2em 8em;
    text-align: center;

    border-bottom: .2em solid var(--acc-1);
    border-radius: var(--b-radius);
}


