
.useful_links {
    display: grid;
    gap: 1em;
    grid-template-columns: 2fr 1fr;
    
    margin: 0 0.2em 0.2em 0.2em;
    background-color: var(--dimmer);
    border-radius: var(--b-radius);
    border: 2px solid var(--sec);
    padding: 1em;
    /* background-color: green; */
}
.list_card {
    align-content: start;
    /* background-color: red; */
    /* width: 48vw; */
    height: 60vh;
}

.list_card_1 {
    display: grid;
    /* grid-area: one; */
} 
.list_card_2 {
    display: grid;
    /* grid-area: two; */
}
.list_card_2 p {
    display: flex;
    align-items: center;
    font-weight: bold;
    
    background-color: var(--dimmer);
    border-radius: var(--b-radius);
    border: 2px solid var(--sec);
    padding: 1em;
}
