
.peri_activity {
    display: grid;
    /* align-items: start; */
    gap: .4em;
    background-color: var(--dimmer-3);

}
.activity_title {
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 1.2;
    background-color: var(--dimmer-2);
}

.exercise_title {
    font-size: .8rem;
    font-weight: 600;
    padding: .4em;
}