
.peri_activity {
    display: grid;
    /* align-items: start; */
    gap: .4em;
    background-color: var(--dimmer-3);
    border: 1px solid var(--acc-4);

}
.activity_title {
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--text);
    letter-spacing: 1.2;
    background-color: var(--sec-3);

}

.exercises {
    
    display: grid;
    
    font-size: .8rem;
    font-weight: 600;
    padding: .4em;
    /* border: 1px solid var(--prime-1); */

}

.exercise_title {

}