
.edit_activity {
        position: relative;
        min-height: 70vh;
        display: grid;
        gap: .4em;
        padding: 0.2em;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: 
                        "one three three three three three"
                        "two three three three three three"
                        "two three three three three three"
                        "two three three three three three";
    
        /* border: 1px solid var(--acc-1); */
        border-radius: var(--b-radius);
    }
    .sider_1 {
        grid-area: one;
        overflow: hidden;
    }
    .sider_2 {
        grid-area: two;
        overflow: hidden;
    }
    .edit_exercise h4 {
        text-align: center;
        font-size: 1.1rem;
        border-radius: var(--b-radius);
        border-bottom: 3px solid var(--acc-1);
        border-top: 1px solid var(--acc-1);
    }
    .edit_box {
        grid-area: three;
        padding: 0.4em;
        border: 1px solid var(--acc-1);
        border-radius: var(--b-radius);
        background-color: var(--prime);
    }
.form_box {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 90vw;
    margin: 0 auto;
    padding: 2em;
    background-color: var(--prime-2);
    border: 1px solid var(--sec-2);
    border-radius: var(--b-radius);
}
.form_box h1 {
    text-align: center;
    font-size: 1.8rem;
}
.form {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
    "one one one one four five"
    "two two two two six seven"
    "three three three three eight nine"
    "ten ten ten ten ten ten";
    background-color: var(--prime-2);
}
.item {
    display: grid;
    width: 100%;
    padding: 1em;
    border: 1px solid var(--sec-2);
    border-radius: var(--b-radius);
}
.item > input {
    border-radius: var(--b-radius);
    padding: 0.5em;
}

.form_item_box_1 {
    grid-area: one;
}
.form_item_box_2 {
    grid-area: two;
}
.form_item_box_3 {
    grid-area: three;
}
.form_item_box_4 {
    grid-area: four;
}
.form_item_box_5 {
    grid-area: five;
}
.form_item_box_6 {
    grid-area: six;
}
.form_item_box_7 {
    grid-area: seven;
}
.form_item_box_8 {
    grid-area: eight;
}
.form_item_box_9 {
    grid-area: nine;
}
.form_item_box_10 {
    grid-area: ten;
}

.form button {
    margin-top: 1.4em;
}
.form label {
    font-weight: bold;
}

.form_error {
    color: red;
}