
.card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
                "one one one one"
                "two two two two"
                "two two two two"
                "two two two two"
                "three three three three";
    /* max-height: 45vh; */
    /* width: 100%; */
    background-color: var(--sec);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid var(--acc-1);
    border-radius: var(--b-radius);
    overflow: scroll;
}
.card_info {
    grid-area: two;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0.3em;
    align-items: stretch;
    justify-content: space-evenly;
    align-content: start;

    grid-template-areas: 
                    "one one one one one one"
                    "two two two two two two"
                    "three three three four four four"
                    "five five six six seven seven"
                    "eight eight eight nine nine nine"
                    "ten ten ten ten ten ten"
                    "eleven eleven eleven twelve twelve twelve";
                    padding: 1.4em;
                    color: var(--acc-3);
}
    .card_cell {
        display: grid;
        align-items: center;
        justify-content: start;
        padding: 0.4em;
        border: 1px solid var(--acc-1);
        border-radius: var(--b-radius);
        overflow: scroll;
        font-weight: 500;
        font-size: 1.1rem;

    }
    .card_cell_1 {
        font-size: 1.6rem;
        /* color: var(--text); */
        margin-bottom: 0.4em;
        padding: 0.4em 0em;
        grid-area: one;}
    .card_cell_2 {grid-area: two;}
    .card_cell_3 {grid-area: three;}
    .card_cell_4 {grid-area: four;}
    .card_cell_5 {grid-area: five;}
    .card_cell_6 {grid-area: six;}
    .card_cell_7 {grid-area: seven;}
    .card_cell_8 {grid-area: eight;}
    .card_cell_9 {grid-area: nine;}
    .card_cell_10 {
        /* max-height: 10em; */
        overflow: scroll;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-area: ten;}
    .card_cell_11 {
        margin-top: 0.4em; 
        grid-area: eleven;}
    .card_cell_12 {
        margin-top: 0.4em;    
        grid-area: twelve;}

    .card_cell_link {
        justify-content: center;
        background-color: var(--acc-1);
        color: var(--sec);
        font-weight: bold;
    }
    .exer {
        background-color: var(--prime);
        border: 1px solid var(--text);
        border-radius: var(--b-radius);
        padding: 0.2em 0.4em;
        margin: auto;
    }

    .exer_link {
        font-size: .9rem;
        color: aliceblue;
    }


