.auth_section {
    min-height: 100vh;
    background-color: var(--sec-2);
}
.form_box {
    position: relative;
    top: -4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0em 2em 4em 2em;
    background-color: var(--sec-2);

}

.form {
    background-color: var(--sec);
    max-width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2em 4em;
    border: 0.1em solid var(--acc-1);
    border-radius: var(--b-radius);
    overflow: hidden;
}

.form > * { 
    padding: 0.3em;
    /* color: var(--light-gray); */
}

.form_box h1 {
    padding: 1em 2em;
    color: var(--light-gray);
    background-color: var(--teal-green);
}

.button {
    margin: 1em auto auto auto;
}
.form_error {
    color: red;
}