:root {
    /* --- Colors --- */
    --prime: #ebebeb;
    --prime-2: #ffffff;
    
    --sec: #fa7618;
    --sec-2: #d7471b;
    --sec-3: #ee9340;
    --acc-1: #53208a;
    --acc-2: #9a33e8;
    --acc-3: rgb(230, 144, 31);
    --text: #0e022f;

    --bg: #126b7d;
    --dimmer: rgba(0, 5, 6, 0.607);

    /* --- Values --- */
    --b-radius: 4px;
    --bg-color: rgba(209, 205, 21, 0.967);


}


#body {
    position: relative;
    background-color: var(--prime);
    background-image: url('/public/images/backgrounds/cornered-stairs.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--text);
    font-family: 'Montserrat', sans-serif;
}
#main {
    position: relative;
    padding: 1em;


}
/* a {
    text-decoration: none;
    color: var(--text);
  }
  a:hover {
    color: var(--prime);
} */

button {
    position: relative;
    display: inline-block;
    padding: 16px 28px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--prime-2);
    text-align: center;
    text-decoration: none;
    background-color: var(--acc-1);
    /* border-radius: 40px; */
    overflow: hidden;
    border: none;
    z-index: 1;
  }
  
  button:before {
    transition: 1s;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  
  button:hover:before {
    width: 300px;
    height: 300px;
    opacity: 0.4;
    transition: all 0.5s ease-out;
  }
  
  button:hover {
    background-color: var(--acc-2);
    color: #202960;
    transition: all 0.5s ease-out;
  }
  
  button:hover:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: #255ea4;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
    animation: pulse 2s infinite;
  }
  
  @keyframes pulse {
    0% {
      width: 0;
      height: 0;
      opacity: 0.5;
    }
  
    100% {
      width: 200px;
      height: 200px;
      opacity: 0;
    }
  }
  
/* button {
    padding: 0.4em 1.8em;
    border: 1px solid var(--sec);
    border-radius: var(--b-radius);
    background-color: var(--acc-1);
    color: var(--sec-2);
}
button:hover {
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
} */

.title_outlined {

    text-align: center;
    font-weight: bold;
    font-size: 1.6rem;
    border-radius: var(--b-radius);
    border-top: 0.1em solid var(--acc-1);
    border-bottom: 0.2em solid var(--acc-1);
    margin-bottom: 1em;
}

.sidebar_layout {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-areas: 
    "one  two two two two two two";
}

.sidebar_box {
    grid-area: one;
}
.content_box {
    grid-area: two;
}

