:root {
    /* --- COLORS --- */
    --dark-blue: #063340;
    --teal-green: #036f90;
    --green: #008000;
    --kelly-green: #06da14;
    --light-gray: #F0F0F4;

    --b-radius: 6px;
    --bg-color: rgba(0, 0, 0, 0.2);
}


#body {
    background-color: var(--dark-blue);
}

* {
    box-sizing: border-box;
}
*:hover {
    box-sizing: border-box;
}