
.list_card {
    grid-area: one;
    padding: 0.6em;
    border: 1px solid var(--acc-1);
    border-radius: var(--b-radius);
    background-color: var(--sec);
    height: 100%;
    width: 100%;
    overflow: hidden;

}

.list_card ul {
    list-style: none;
    font-weight: bold;
    letter-spacing: 1pt;
    font-size: .9rem;
    padding: 1em;
}

.list_card h4 {    
text-align: center;
font-size: 1.1rem;
border-radius: var(--b-radius);
border-bottom: 3px solid var(--acc-1);
border-top: 1px solid var(--acc-1);
}
