.periodization {
    position: relative;
    background-color: var(--dimmer);
}
.content_box {
    display: grid;
    gap: .2em;
    /* grid-template-columns: repeat(2, 1fr); */
    background-color: red;
    padding: .2em;
}

.macro_box {
    background-color: var(--dimmer);
}
.meso_box {
    background-color: var(--dimmer);
}
.micro_box {
    background-color: var(--dimmer);
}