.contacts {
    min-height: 100vh;
    background-color: var(--sec-2);
    position: relative;
    top: -4px;
}
.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 94vh;
    padding: 1em;
    overflow: hidden;
}
.banner {
    height: 100%;
}
.banner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.form_box {
    position: relative;
    background-color: var(--prime-2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 2em;
    border-radius: var(--b-radius);
    border: 1px solid var(--sec-2);
}
.form {
    position: relative;
    display: grid;
    padding: 2em;
    gap: 0.6em;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
                        "five five" 
                        "one two"
                         "three three"
                         "four four";
}
.field_box {
    padding: 0.4em;
}
.field_box * {
    border-radius: var(--b-radius);
    padding: 0.6em;
}

.field_1 {
    display: grid;
    grid-area: one;
}
.field_2 {
    display: grid;
    grid-area: two;
}
.field_3 {
    display: grid;
    grid-area: three;
}
.field_4 {
    display: grid;
    width: 33%;
    margin: auto auto;
    grid-area: four;
}
.field_5 {
    display: grid;
    grid-area: five;
    font-size: 3rem;
}

.info_box {
    width: 80%;
    height: 30%;
    padding: 2em;
    border-radius: var(--b-radius);
    border: 1px solid var(--sec-2);
    letter-spacing: 0.8pt;
    font-size: large;
}